<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>
<body>
<div>
    <h1>REGISTRATION PAGE</h1>
    <form action="#" th:action="@{/registration}" th:object="${userForm}"method="post">
        <table>
            <tr>
                <td><label for="username">Name:</label></td>
                <td><input type="text" th:field="*{username}" id="username" placeholder="username"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="text" th:field="*{password}" id="password" placeholder="password"></td>
            </tr>
            <tr>
                <td><p>-------------</p></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="firstName">First Name:</label></td>
                <td><input type="text" th:field="*{firstName}" id="firstName" placeholder="firstname"></td>
            </tr>
            <tr>
                <td><label for="lastName">Last Name:</label></td>
                <td><input type="text" th:field="*{lastName}" id="lastName" placeholder="lastname"></td>
            </tr>
            <tr>
                <td><label for="age">Age:</label></td>
                <td><input type="text" th:field="*{age}" id="age" placeholder="age"></td>
            </tr>
            <tr>
                <td><label for="email">E-mail:</label></td>
                <td><input type="text" th:field="*{email}" id="email" placeholder="email"></td>
            </tr>
            <tr>
                <td><input type="submit" value="create user"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>