<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>
<body>







    <h2>User edit</h2>
    <form action="#" th:action="@{/user-edit}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" id="id" placeholder="id">
        <table>
            <tr>
                <td><label for="username">username</label></td>
                <td><input type="text" th:field="*{username}" id="username" placeholder="username"></td>
            </tr>
            <tr>
                <td><label for="password">password</label></td>
                <td><input type="text" th:field="*{password}" id="password" placeholder="password"></td>
            </tr>
            <tr>
                <td><label for="firstName">firstName</label></td>
                <td><input type="text" th:field="*{firstName}" id="firstName" placeholder="firstname"></td>
            </tr>
            <tr>
                <td><label for="lastName">lastName</label></td>
                <td><input type="text" th:field="*{lastName}" id="lastName" placeholder="lastname"></td>
            </tr>
            <tr>
                <td><label for="age">Age</label></td>
                <td><input type="text" th:field="*{age}" id="age" placeholder="Age"></td>
            </tr>
            <tr>
                <td><label for="email">email</label></td>
                <td><input type="text" th:field="*{email}" id="email" placeholder="E-Mail"></td>
            </tr>
        </table>
        <ul>
            <li th:each="role : ${roleSet}">
                <div>
                    <input type="checkbox" th:field="*{roles}" th:value="${role.id}">
                    <label th:text="${role.name}"></label>
                </div>
            </li>
        </ul>
        <div>
            <input type="submit" value="Update">
        </div>
    </form>
</body>
</html>
